.title {
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 30px;
  }
  .nav-custom {
    border: 1px solid rgb(3,37,65);
    border-radius: 25px;
    .nav-item {
      display: flex;
      align-items: center;
      .nav-link{
        color: rgb(3,37,65);
        font-weight: 600;
        line-height: 0em;
      }
    }
  }